:root{
  --main-color: orange;
  --color-white: #fff;
  --color-green: rgb(0, 255, 117);
  --color-light-green: rgb(239 251 247);
  --color-grey: #e5e7eb;
}

html{
  font-size: 16px;
  scroll-behavior: smooth;
}

header{
  width: 100%;
  background-color: var(--color-light-green);
  nav{
    display: flex;
    height: 4rem;
    justify-content: space-between;
    align-items: center;

    .logo{
      font-size: 2.5rem;
      color: black;
      margin-left: 2rem;
    }
    .nav-list{
      display: flex;
      width: 300px;
      justify-content: space-between;
      //list-style-type: none;
      margin-right: 2rem;

      li{
        list-style: none;

        a{
          text-decoration: none;
          //color: var(--color-white);
          color: black;
        }
      }
    }
  }
}

section{
  padding: 8rem 1rem;
  h1{
    color: var(--main-color);
  }
  .box{
    .flex{
      display: flex;
      img{
        margin-right: 1rem;
      }
    }
  }
}



















